<?xml version="1.0" encoding="utf-8"?>
<!--
  @file app/src/main/AndroidManifest.xml
  @author PopoY
  @date 2026-03-18
  @description Android TV 应用清单，声明 TV Launcher 入口 Activity。
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".PocoDishVisionApplication"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:icon="@drawable/ic_app_icon"
        android:label="POCO Dish Vision"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar">

        <profileable android:shell="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
